<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <!--<add name="newazConn" connectionString="Data Source=Raihan-Newaz;Initial Catalog=CClassCReport;User ID=sa;Password=open"
   providerName="System.Data.SqlClient" />-->
	 
	 
  <add name="newazConn"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=D:\CSHARP\1271713_ADO.NET_PROJECT\1271713_ADO.NETCCPROJECTBYNEWAZ\1271713_ADO.NETCCPROJECTBYNEWAZ\DATABASE\NEWAZPROJECTDB.MDF;Integrated Security=True;"
   providerName="System.Data.SqlClient" />



	<!--<add name="newazConn" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DATABASE\NEWAZPROJECTDB.MDF;Integrated Security=True;" providerName="System.Data.SqlClient" />-->


 </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>

